body {
  font-family: Arial;
}
.item {
  display: flex;
}

/*свой css*/
.item .item__code {
  flex-grow: 1;
}

.item {
  border-bottom: 1px solid #f0f0f0;
  padding: 5px 0;
}
/*конец свой css*/

.item__code {
  margin-right: 5px;
  font-weight: bold;
}
.item__value {
  margin-right: 5px;
}

.loader {
  width: 100px;
  display: none;
}
.loader_active {
  display: block;
}
